* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.time {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}

input {
  border: none;
  outline: none;
  padding: 1rem;
  background-color: #444444;
  width: min-content;
  border-radius: 0.5rem;
  text-align: center;
  width: 5rem;
  color: #aaaaaa;
}

.time span {
  margin-left: 0.5rem;
  font-weight: 500;
}

.btn-group {
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  cursor: pointer;
}

.start {
  background-color: #0f0;
  border-color: #0f0;
}

.start:hover {
  color: #0f0;
}

.stop {
  background-color: #f00;
  border-color: #f00;
}

.stop:hover {
  color: #f00;
}

.reset {
  background-color: #00f;
  border-color: #00f;
}

.reset:hover {
  color: #00f;
}
